<%= form_for(@adipocyte) do |f| %>
  <% if @adipocyte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adipocyte.errors.count, "error") %> prohibited this adipocyte from being saved:</h2>

      <ul>
      <% @adipocyte.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :userId %><br />
    <%= f.text_field :userId %>
  </div>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :noVotes %><br />
    <%= f.text_field :noVotes %>
  </div>
  <div class="field">
    <%= f.label :enabled %><br />
    <%= f.text_field :enabled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
