<%= form_for(@adipocyte) do |f| %>
  <div class="adipocyteForm">
    <div class="formField">
      <%= f.label :userId %><br />
      <%= f.text_field :userId %>
    </div>
    <div class="formField">
      <%= f.label :subject %><br />
      <%= f.text_field :subject %>
    </div>
    <div class="formField">
      <%= f.label :content %><br />
      <%= f.text_area :content %>
    </div>
    <hr />
    <div class="actions">
      <%= f.submit %>
      <input 
        type="button" 
        id="adipocyteFormClearButton" 
        class="clearButton adiposeButton" 
        value="Clear">
    </div>
  </div><!--adipocyteForm-->
<% end %>
<script type="text/javascript">
</script>
