<div class="contentPane">
  <div class="contentTitle adipocyteImage">
    <span class="adipocyteTitle">
      <%= @adipocyte.subject %>
    </span>
  </div><!--#contentTitle-->
  <div class="contentBody">
    <div class="adipocyteInfo">
      <div class="basicInfo">
        <table>
          <tr>
            <th>Created By:</th> 
            <td><%= @adipocyte.userId %></td> 
          </tr>
          <tr>
            <th>Created on:</th> 
            <td><%= @adipocyte.created_at %></td>
          </tr>
        </table>
      </div><!--.basicInfo-->
      <div class="adipocyteFeatures">
        <div id="votes" class="votesImage">
          <div>
            <%= @adipocyte.noVotes %>
            <% if(@adipocyte.noVotes > 1)%>
              Votes
            <% else %>
              Vote
            <% end %>
          </div>
        </div>
      </div><!--.adipocyteFeatures-->
      <div class="adipocyteFeatures">
        <div id="tags">
          <span class="tag">
            sheetal
          </span>
          <span class="tag">
            Canaan
          </span>
          <span class="tag">
            June
          </span>
        </div>
      </div><!--.adipocyteFeatures-->
      <div class="adipocyteActions">
        <input 
          id="adipocyteComment" class="adiposeButton" type="Submit" value="Comment" />
        <input 
          id="adipocyteEdit" class="adiposeButton" type="Submit" value="Edit" />
        <% if(@adipocyte.enabled) %>
          <% enabledAdipocyte = 1 %>
          <% enabledText = "Archive" %>
        <% else %>
          <% enabledAdipocyte = 0 %>
          <% enabledText = "Unarchive" %>
        <% end %>
        <input 
          data-id="<%= enabledAdipocyte %>"
          data-url=
            "<%= url_for(:action => 'enable' , :controller => 'adipocytes')%>"
          id="adipocyteArchive" 
          class="adiposeButton" 
          type="Submit" 
          value="<%= enabledText %>" />
      </div><!--.adipocyteActions-->
      <div class="adipocyteContent">
        <%= @adipocyte.content %>
      </div><!--.adipocyteContent-->
    </div><!--.adipocyteInfo-->
  </div><!--.contentBody-->
</div><!--.contentPane-->
<script type="text/javascript">
  $(document).ready(function()
  {
    $("#adipocyteEdit").click(function()
    {
      document.location = '<%=edit_adipocyte_path(@adipocyte)%>';
    });

    $("#adipocyteArchive").click(function()
    {
      var url = 
        $(this).attr("data-url");
      $.post(
        url,
        {
          id: "<%= @adipocyte.id %>",
          enabled: $(this).attr("data-id")
        },
        function(data)
        {
          if(data.success)
          {
            if($("#adipocyteArchive").attr("data-id") == 1)
            {
              $("#adipocyteArchive").attr('value',"Unarchive");
              $("#adipocyteArchive").attr('data-id','0');
            }
            else
            {
              $("#adipocyteArchive").attr('value',"Archive");
              $("#adipocyteArchive").attr('data-id','1');
            }
          }
          else
          {
            alert("Could not archive adipocyte");
          }
        });
    });
  });
</script>
