<div class="contentPane">
  <div class="contentTitle adipocyteImage">
    <span class="adipocyteTitle">
      <%= @adipocyte.subject %>
    </span>
  </div><!--#contentTitle-->
  <div class="contentBody">
    <div class="adipocyteInfo">
      <div class="basicInfo">
        <table>
          <tr>
            <th>Created By:</th> 
            <td><%= @adipocyte.userId %></td> 
          </tr>
          <tr>
            <th>Created on:</th> 
            <td><%= @adipocyte.created_at.to_s(format = :long) %></td>
          </tr>
        </table>
      </div><!--.basicInfo-->
      <div class="adipocyteFeatures">
        <div 
          id="votes" 
          class="votesImage" 
          data-url="<%= url_for(:action => 'castVote' , :controller => 'adipocytes')%>">
          <div id="numberOfVotes">
            <%= @adipocyte.noVotes %>
            <% if(@adipocyte.noVotes > 1)%>
              Votes
            <% else %>
              Vote
            <% end %>
          </div>
        </div>
      </div><!--.adipocyteFeatures-->
      <div class="adipocyteFeatures">
        <div id="tags">
          <span class="tag">
            sheetal
          </span>
          <span class="tag">
            Canaan
          </span>
          <span class="tag">
            June
          </span>
          <span class="tag">
            Insia
          </span>
          <span class="tag">
            omg
          </span>
        </div>
      </div><!--.adipocyteFeatures-->
      <div class="adipocyteActions">
        <input 
          id="adipocyteComment" 
          data-url="<%= url_for(:action => 'create', :controller => 'comments') %>"
          class="adiposeButton" 
          type="Submit" 
          value="Comment" />
        <input 
          id="adipocyteEdit" class="adiposeButton" type="Submit" value="Edit" />
        <% if(@adipocyte.enabled) %>
          <% enabledAdipocyte = 1 %>
          <% enabledText = "Archive" %>
        <% else %>
          <% enabledAdipocyte = 0 %>
          <% enabledText = "Unarchive" %>
        <% end %>
        <input 
          data-id="<%= enabledAdipocyte %>"
          data-url=
            "<%= url_for(:action => 'enable' , :controller => 'adipocytes')%>"
          id="adipocyteArchive" 
          class="adiposeButton" 
          type="Submit" 
          value="<%= enabledText %>" />
      </div><!--.adipocyteActions-->
      <div class="adipocyteContent">
        <%= @adipocyte.content %>
      </div><!--.adipocyteContent-->
      <div class="adipocyteComments">
        <% if(@adipocyte.comments.size <= 0) %>
          <% commentDivHeadingClass = "dimNoteMedium" %>
          <% commentHeading = "No Comments" %>
        <% else %>  
          <% commentDivHeadingClass = "commentDivHeading"%>
          <% commentHeading = "Comments" %>
        <% end %>  
        <div class="<%=commentDivHeadingClass%>" id="commentHeadingText">
          <%=commentHeading%>
        </div>
        <table id="commentsTable">
          <% @adipocyte.comments.each do |comment| %>
          <tr class="commentsRow" id="commentRow<%= comment.id %>">
            <td class="commentsCommentId postitImage"> 
              <%= comment.id %>
            </td><!--.commentsCommentId-->
            <td class="commentsComment">
              <div class="commentsCommentInfo">
                <span class="commentsCommenter">
                  <%= comment.commenter %>,
                </span>
                <span class="commentsCreated">
                  <%= comment.created_at.to_s(format = :long) %>
                </span>
              </div><!--.commentsCommentInfo-->
              <div class="commentsCommentContent">
                "
                <%= comment.content %>
                "
              </div><!--.commentsCommentContent-->
            </td><!--.commentsComment-->
            <td 
              class="deleteImage commentsCommentActions"
              data-url=
                "<%= url_for(:action => 'delete' , :controller => 'comments')%>"
              data-id="<%= comment.id %>">
            </td>
          </tr><!--.commentsRow-->
          <% end %>
        </table><!--#commentsTable-->
      </div>
    </div><!--.adipocyteInfo-->
  </div><!--.contentBody-->
  <div id="newCommentModal" title="Create New Comment">
    <%= form_for([@adipocyte, @adipocyte.comments.build]) do |f| %>
    <div class="commentForm">
      <div class="formField">
        <%= f.label :commenter %><br />
        <%= f.text_field :commenter %>
      </div>
      <div class="formField">
        <%= f.label :content %><br />
        <%= f.text_area :content %>
      </div>
    </div>
    <% end %>
  </div><!--#newCommentModal-->
  <div id="confirmCastVote" title="Cast Vote">
    <div class="confirmImage" >
      Please confirm that you want to cast your vote.
    </div>
  </div>
  <div id="confirmDelete" title="Delete Comment">
    <div class="confirmImage" >
      Please confirm that you want to delete this comment.
    </div>
  </div>
  <div id="confirmArchive"title="Archive">
    <div class="confirmImage" >
      Please confirm that you want to 
      <span id="adipocyteArchiveTextSpan">
        <%= enabledText %>
      </span> 
      this adipocyte.
    </div>
  </div>
</div><!--.contentPane-->
<script type="text/javascript">
  function openCreateCommentDialog()
  {        
    $("#newCommentModal").dialog(
    {
      width: 400,
      modal:true,
      buttons: 
      {
        "Submit": function()
        {
          $.post(
          $("#adipocyteComment").attr("data-url"),
          {
            adipocyte_id: "<%=@adipocyte.id%>",
            commenter: $("#comment_commenter").val(),
            content: $("#comment_content").val()
          },
          function(data)
          {
            $("#newCommentModal").dialog("destroy");
            if(data.success)
            {
              $("#commentsTable").append(
                "<tr class='commentsRow' id='commentRow"
                +data.commentId
                +"'>"
                +"<td class='commentsCommentId postitImage'>"
                +data.commentId
                +"</td>"
                +"<td class='commentsComment'>"
                +"<div class='commentsInfo'>"
                +"<span class='commentsCommenter'>"
                +data.commenter
                +", "
                +"</span>"
                +"<span class='commentsCreated'>"
                +"Just now"
                +"</span>"
                +"</div>"
                +"<div class='commentsCommentContent'>"
                +"\" "
                +$("#comment_content").val()
                +" \" "
                +"</div>"
                +"</td>"
                +"<td class='deleteImage commentsCommentActions'"
                +'data-url="<%= url_for(:action => 'delete' , :controller => 'comments')%>"'
                +"data-id='"
                +data.commentId
                +"'>"
                +"</td>"
                +"</tr>"
              );
              $("#commentHeadingText")
                .addClass("commentDivHeading")
                .removeClass("dimNoteMedium")
                .html("Comments");
              clearForm();
            }
            else
            {
              notify("Error","There was a problem posting the comment.");
            }
          });
        },
        Cancel: function()
        {
          $(this).dialog("destroy");
        }
      } 
    });
  }

  function openConfirmCastVote(url)
  {
    $("#confirmCastVote").dialog(
    {
      modal: true,
      close: function(event,ui)
      {
        $("#confirmCastVote").dialog("destroy");
      },
      buttons:
      {
        "Submit": function()
        {
          $.post(
          url,
          {
            id: "<%= @adipocyte.id %>"
          },
          function(data)
          {
            if(data.success)
            {
              $("#numberOfVotes").html(data.numberOfVotes+" "+"Votes");
            }
            else
            {
              notify("Adipocyte","There was a problem casting your vote");
            }
            $("#confirmCastVote").dialog("destroy");
          });
        },
        "Cancel": function()
        {
          $("#confirmCastVote").dialog("destroy");
        }
      }
    });
  }
  
  function openConfirmDelete(url,id)
  {
    $("#confirmDelete").dialog(
    {
      modal: true,
      close: function(event,ui)
      {
        $("#confirmDelete").dialog("destroy");
      },
      buttons:
      {
        "Submit": function()
        {
          $.post(
          url,
          {
            id: id
          },
          function(data)
          {
            if(data.success)
            {
              $("#commentRow"+id).remove();
              if($("#commentsTable tr").length <= 0)
              {
                $("#commentHeadingText")
                  .removeClass("commentDivHeading")
                  .addClass("dimNoteMedium")
                  .html("No Comments");
              }
            }
            else
            {
              notify("Comment","Please confirm that you want to delete this comment");
            }
            $("#confirmDelete").dialog("destroy");
          });
        },
        "Cancel": function()
        {
          $("#confirmDelete").dialog("destroy");
        }
      }
    });
  }

  function openConfirmArchive(url)
  {
    $("#confirmArchive").dialog(
    {
      modal: true,
      close: function(event,ui)
      {
        $("#confirmArchive").dialog("destroy");
      },
      buttons:
      {
        "Submit": function()
        {
          $.post(
          url,
          {
            id: "<%= @adipocyte.id %>",
            enabled: $("#adipocyteArchive").attr("data-id")
          },
          function(data)
          {
            if(data.success)
            {
              if($("#adipocyteArchive").attr("data-id") == 1)
              {
                $("#adipocyteArchive").attr('value',"Unarchive");
                $("#adipocyteArchiveTextSpan").html("Unarchive");
                $("#adipocyteArchive").attr('data-id','0');
              }
              else
              {
                $("#adipocyteArchive").attr('value',"Archive");
                $("#adipocyteArchiveTextSpan").html("Archive");
                $("#adipocyteArchive").attr('data-id','1');
              }
            }
            else
            {
              notify("Adipocyte","Could not archive adipocyte");
            }
            $("#confirmArchive").dialog("destroy");
          });
        },
        "Cancel": function()
        {
          $("#confirmArchive").dialog("destroy");
        }
      }
    });
  }

  function initDialogs()
  {    
    $("#newCommentModal").dialog();    
    $("#newCommentModal").dialog('destroy');   

    $("#confirmCastVote").dialog();    
    $("#confirmCastVote").dialog('destroy');   

    $("#confirmArchive").dialog();    
    $("#confirmArchive").dialog('destroy');   

    
    $("#confirmDelete").dialog();    
    $("#confirmDelete").dialog('destroy');   
  }

  $(document).ready(function()
  { 
    initDialogs();

    $("#adipocyteComment").live('click',function()
    {
      openCreateCommentDialog();
    });

    $("#adipocyteEdit").click(function()
    {
      document.location = '<%=edit_adipocyte_path(@adipocyte)%>';
    });

    $(".votesImage").click(function()
    {
      var url = 
        $(this).attr("data-url"); 
      openConfirmCastVote(url);     
    });

    $(".deleteImage").live("click",function()
    {
      var url = 
        $(this).attr("data-url");       
      var id = 
        $(this).attr("data-id"); 

      openConfirmDelete(url,id);     
    });

    $("#adipocyteArchive").click(function()
    {
      var url = 
        $(this).attr("data-url");
      openConfirmArchive(url);
    });
  });
</script>
